{# templates/home/reclamo.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Reclamo</title>
</head>
<body>
    <h1>Página de Reclamos</h1>
    <p>Bienvenido a la página de reclamos.</p>
</body>
</html>
